#add:hover{
    
    border: 1px solid slategrey;
}
#container{
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(112, 113, 114);
}
#main{
    background: radial-gradient(rgb(39, 179, 248),white);
}
#divide:hover{
    
    border: 1px solid rgb(112, 113, 114);
}
#minus:hover{
    
    border: 1px solid slategrey;
}
#multiply:hover{
    
    border: 1px solid slategrey;
}
#clear:hover{
    
    border: 1px solid slategrey;
}
#back:hover{
    
    border: 1px solid slategrey;
}
#equal:hover{
    
    border: 1px solid slategrey;
}

@media screen and (max-width: 700px) {
    #slate{
        width: 90vw;
        height: 550px;
        padding: 10px;
    }
    #input{
        width: 90%;
    }
    
}