
body{
    font-family: sans-serif;
}
#container{
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(112, 113, 114);
}
h1{
    font-weight: 600;
}

button:hover{
    border: 2px solid white;
}
#main{
    background: radial-gradient(rgb(39, 179, 248),white);
}


@media screen and (max-width: 700px) {
    #slate{
        width: 90vw;
        height: 550px;
        padding: 10px;
    }
    #input{
        width: 90%;
    }
    
}